3
Tuan Hak asdad asd adasd asdas d adsdas
passTuanHak
Ini bio lho
0811
Pahing
Privat
R * R * R * R * R *
R * G @ B * G @ R *
R * G @ G @ G @ R *
R * G @ B * G @ R *
R * R * R * R * R *
Tuan Vin
passTuanVin

08

Publik
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
Tuan Bri
passTuanBri




