3
Tuan Hak asdad asd a
passTuanHak
Ini bio lho
0811
Pahing
Privat
R * R * R * R * R * 
R * G @ B * G @ R * 
R * G @ G @ G @ R * 
R * G @ B * G @ R * 
R * R * R * R * R * 
Tuan Vin
passTuanVin

08

Privat
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
Tuan Bri
passTuanBri



Privat
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
0 1 0
1 0 1
0 0 1
2
0 1 0
2 1 1
